@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">WELCOME TO MilkDB</h1>
    <p>MilkDB menyediakan berbagai macam menu minuman susu.</p>
    <br>
    <button class="bg-primary"><a class="text-white" href="https://localhost:44383/Transaksis">Order</a></button>
</div>
