@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Bila terjadi kendala dalam melakukan pemesanan minuman tidak sampai pada tujuan silahkan hubungi <a href="https://localhost:44383/Kurirs">Kurir</a></p>
